body {
  background-color: cadetblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.flex-container {
  padding: 5px;
  border-top: solid 2px;
  border-bottom: solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.flex-item {
  padding: 5px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: darkgrey;
}
.header {
  text-align: center;
  justify-content: center;
}
.my-pic {
  margin-top: 10px;
  margin-right: 15px;
  float: left;
}
.about-me {
  padding-left: 20px;
}
.boutme {
  border-radius: 10px;
  background-color: darkgrey;
  margin-left: 250px;
}
.one {
  border-bottom: solid 2px #000;
  text-align: center;
}
.two {
  border-bottom: solid 2px #000;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 300px 300px;
  justify-content: space-evenly;
}
.grid-item1 {
  border-radius: 10px;
  background-color: darkgrey;
  margin: 10px;
  text-align: center;
}
.grid-item2 {
  border-radius: 10px;
  background-color: darkgrey;
  margin: 10px;
  text-align: center;
}
.prog {
  text-decoration: underline 2px;
}
.lang {
  text-decoration: underline 2px;
}
.proj {
  border-bottom: solid 2px #000;
  text-align: center;
}
.prodesc {
  width: 300px; justify-content: center;
}
.context {border-bottom: solid 2px #000; text-align: center;}
.contact-me {border-bottom: solid 2px #000;}
.bottomtext {text-align: center;}